src/main/webapp/WEB-INF/wsdl/TestWSImplService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.unal.edu.co/" xmlns:tns="http://ws.unal.edu.co/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hellowWolrd" type="tns:hellowWolrd"/>

  <xs:element name="hellowWolrdResponse" type="tns:hellowWolrdResponse"/>

  <xs:complexType name="hellowWolrd">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hellowWolrdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

